<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring 2024</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 10: Module II, NoSQL, Graph DB Examples</span>
</center></i>

# Lecture Material

- The lecture slides contain the lecture material, slides, etc.


- The Jupyter notebook is for running example code and sample applications.

# Environment Setup and Test

## Basic Packages

In [1]:
import json
import pandas

## ipython-sql Magic

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [4]:
%sql select * from db_book.student

 * mysql+pymysql://root:***@localhost
13 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58')),
 ('76653', 'Aoi', 'Elec. Eng.', Decimal('60')),
 ('98765', 'Bourikas', 'Elec. Eng.', Decimal('98')),
 ('98988', 'Tanaka', 'Biology', Decimal('120'))]

## PyMySQL

In [5]:
import pymysql

In [6]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [7]:
cur = conn.cursor()
res = cur.execute("select * from db_book.student where name like 'A%'")
res = cur.fetchall()

In [8]:
df = pandas.DataFrame(res)
df

      ID name   dept_name tot_cred
0  76653  Aoi  Elec. Eng.       60

# Cloud Databases

## Overview

| <img src="./cloud-overview.jpg" height="900px;"> |
| :---: |
| __Cloud Computing__ |

https://azure.microsoft.com/en-us/resources/cloud-computing-dictionary/what-is-cloud-computing

| <img src="./cloud-landscape.jpg" height="900px;"> |
| :---: |
| __Cloud Computing__ |

http://www.theenterprisearchitect.eu/blog/2013/10/12/the-cloud-landscape-described-categorized-and-compared/

| <img src="./cloud-db.jpg" height="900px;"> |
| :---: |
| __Cloud Databases__ |

## Cloud Databases We Will Use

### Amazon Relational Data Service

__Note:__ This is just an example of how I use a cloud databases. You will continue to use local MySQL.

| <img src="./amazon-rds.jpg" height="900px;"> |
| :---: |
| __Amazon Relational Dataservice__ |

https://aws.amazon.com/rds/

To show:

- Login through the AWS console, navigate to DB, etc.
- Connection in DataGrip

In [16]:
%sql $aws_mysql_url

In [17]:
%sql show databases;

 * mysql+pymysql://admin:***@new-cu-mysql.ckkqqktwkcji.us-east-1.rds.amazonaws.com
   mysql+pymysql://root:***@localhost
5 rows affected.

[('db_book',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

Run some queries.

### MongoDB

Unlike MySQL, we will use a free cloud version of MongoDB: https://www.mongodb.com/atlas/database



You can create an account and login using your Columbia Google email.



__Note:__ Show how to navigate around, create a user, configure network, etc.

In [23]:
from pymongo import MongoClient

In [24]:
client = MongoClient(mongodb_url)

In [25]:
list(client.list_databases())

[{'name': 'F23_GoT', 'sizeOnDisk': 458752, 'empty': False},
 {'name': 'classicmodels', 'sizeOnDisk': 262144, 'empty': False},
 {'name': 'test_cqrs', 'sizeOnDisk': 73728, 'empty': False},
 {'name': 'admin', 'sizeOnDisk': 344064, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 66261889024, 'empty': False}]

You can now do your MongoDB homework, exam work, etc. using the MongoDB you created.

### Neo4j AuraDB

We can also use a cloud version of Neo4j: https://neo4j.com/cloud/platform/aura-graph-database


You can create an account and use your Columbia Gmail ID.


There are several GitHub and other source for examples: https://github.com/neo4j-examples?language=python


__Note:__ Show navigating, configuring security, etc.

In [30]:
neo4j_user = "neo4j"
neo4j_password = "Y1370GVzTkOjHl-1LMUpXQ_c0rW-EDuoETkf3VaPZfc"

In [33]:
from json import dumps
from textwrap import dedent
from typing import cast

import neo4j

from neo4j import GraphDatabase, basic_auth
from typing_extensions import LiteralString

driver = GraphDatabase.driver("neo4j+s://837631da.databases.neo4j.io",
                              auth=basic_auth(neo4j_user, neo4j_password))

In [41]:
#
# Copied from GitHub example.
def query(q: LiteralString) -> LiteralString:
    # this is a safe transform:
    # no way for cypher injection by trimming whitespace
    # hence, we can safely cast to LiteralString
    return cast(LiteralString, dedent(q).strip())


def get_actors(actor_name="Tom Hanks"):
    records, _, _ = driver.execute_query(
        query("""
            MATCH (tom:Person {name: $actor_name}) RETURN tom
        """),
        actor_name=actor_name
    )

    return list(records)

In [42]:
result = get_actors()
result

In [49]:
dict(result[0]['tom'])

{'born': 1956, 'name': 'Tom Hanks'}

In [52]:
result[0]['tom'].labels

frozenset({'Person'})

In [57]:
dict(result[0]['tom'])

{'born': 1956, 'name': 'Tom Hanks'}