<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2: Nonprogramming
</span>
</center></i>

# Introduction

This notebook contains HW2 Nonprogramming. **Only students on the nonprogramming track should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. **Switch the orientation to landscape mode**, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
- For the ZIP:
    - Zip the folder that contains this notebook and any screenshots.

<hr style="height:2px;">

# Setup

## SQL Magic

In [ ]:
%load_ext sql

You may need to change the password below.

In [ ]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [ ]:
%sql SELECT 1

## Python Libraries

In [ ]:
import os

from IPython.display import Image
import pandas
from sqlalchemy import create_engine

You may need to change the password below.

In [ ]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

<hr style="height:2px;">

# Load Data

- We're going to load data into a new database called `s24_lahmans_hw2`
- The data is stored as CSV files in the `data/` directory.

In [ ]:
%sql DROP SCHEMA IF EXISTS s24_lahmans_hw2
%sql CREATE SCHEMA s24_lahmans_hw2

In [ ]:
def load_csv(data_dir, file_name, schema, table_name=None):
    """
    :param data_dir: The directory containing the file.
    :param file_name: The file name.
    :param schema: The database for the saved table.
    :param table_name: The name of the table to create. If the name is None, the function uses the name of
        the file before '.csv'. So, file_name 'cat.csv' becomes table 'cat'.
    :return: None
    """
    
    if table_name is None:
        table_name = file_name.split(".")
        table_name = table_name[0]
        
    full_file_name = os.path.join(data_dir, file_name)
    
    df = pandas.read_csv(full_file_name)
    df.to_sql(table_name, con=engine, schema=schema, if_exists="replace", index=False)

In [ ]:
data_dir = "data"
csv_files = [
    "People.csv",
    "Appearances.csv",
    "Batting.csv",
    "Pitching.csv",
    "Teams.csv",
    "Managers.csv",
]
schema = "s24_lahmans_hw2"

for f in csv_files:
    load_csv(data_dir, f, schema)
    print("Loaded file:", f)

<hr style="height:2px;">

# Data Cleanup

- The `load_csv` function above created new tables and inserted data into them for us
- Unfortunately, because it cannot guess our intentions, the tables have generic data types and are not related to each other
- You will fix these issues

In [ ]:
%sql USE s24_lahmans_hw2

Below is an overview of the six tables that we inserted and how they should be related.

| <img src="./lahmans-conceptual.png"> |
| :---: |
| __Lahmans Database__|

## People

- The `People` table is defined as

```
create table People
(
    playerID     text   null,
    birthYear    double null,
    birthMonth   double null,
    birthDay     double null,
    birthCountry text   null,
    birthState   text   null,
    birthCity    text   null,
    deathYear    double null,
    deathMonth   double null,
    deathDay     double null,
    deathCountry text   null,
    deathState   text   null,
    deathCity    text   null,
    nameFirst    text   null,
    nameLast     text   null,
    nameGiven    text   null,
    weight       double null,
    height       double null,
    bats         text   null,
    throws       text   null,
    debut        text   null,
    finalGame    text   null,
    retroID      text   null,
    bbrefID      text   null
);
```


1. Convert `playerID`, `retroID`, and `bbrefID` to **minimally sized** `CHAR`
    1. Minimally sized means that the length passed into `CHAR` must be as small as possible while still being able to contain a `playerID` (i.e., don't simply choose a random large number)
    2. `playerID`, `retroID`, and `bbrefID` may have different minimal sizes
    3. You don't need to show how you got the minimal sizes
2. Convert the `DOUBLE` columns to `INT`
3. Convert `bats` and `throws` to `ENUM`
4. Create two new columns, `dateOfBirth` and `dateOfDeath` of type `DATE`. Populate these columns based on `birthYear`, `birthMonth`, `birthDay`, `deathYear`, `deathMonth`, and `deathDay`. If any of these columns are null, you can set the corresponding new column to null (i.e., only keep full dates).
5. Convert `debut` and `finalGame` to `DATE`


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

## Managers

- The `Managers` table is defined as

```
create table Managers
(
    playerID text   null,
    yearID   bigint null,
    teamID   text   null,
    lgID     text   null,
    inseason bigint null,
    G        bigint null,
    W        bigint null,
    L        bigint null,
    `rank`   bigint null,
    plyrMgr  text   null
);
```


1. Convert `playerID`, `teamID`, and `lgID` to minimally sized `CHAR`
2. Convert `yearID` to `CHAR(4)`
3. Convert `plyrMgr` to `BOOLEAN`. This may require creating a temporary column.


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

**Bonus point:** MySQL has a `YEAR` type, but we choose to not use it for `yearID`. Can you figure out why?

## Appearances

- The `Appearances` table is defined as

```
create table Appearances
(
    yearID    bigint null,
    teamID    text   null,
    lgID      text   null,
    playerID  text   null,
    G_all     bigint null,
    GS        double null,
    G_batting bigint null,
    G_defense double null,
    G_p       bigint null,
    G_c       bigint null,
    G_1b      bigint null,
    G_2b      bigint null,
    G_3b      bigint null,
    G_ss      bigint null,
    G_lf      bigint null,
    G_cf      bigint null,
    G_rf      bigint null,
    G_of      bigint null,
    G_dh      double null,
    G_ph      double null,
    G_pr      double null
);
```


1. Convert `yearID` to `CHAR(4)`
2. Convert `teamID`, `lgID`, and `playerID` to minimally sized `CHAR`


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

## Batting

- The `Batting` table is defined as

```
create table Batting
(
    playerID text   null,
    yearID   bigint null,
    stint    bigint null,
    teamID   text   null,
    lgID     text   null,
    G        bigint null,
    AB       bigint null,
    R        bigint null,
    H        bigint null,
    `2B`     bigint null,
    `3B`     bigint null,
    HR       bigint null,
    RBI      double null,
    SB       double null,
    CS       double null,
    BB       bigint null,
    SO       double null,
    IBB      double null,
    HBP      double null,
    SH       double null,
    SF       double null,
    GIDP     double null
);
```


1. Convert `playerID`, `teamID`, and `lgID` to minimally sized `CHAR`
2. Convert `yearID` to `CHAR(4)`


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

## Pitching

- The `Pitching` table is defined as

```
create table Pitching
(
    playerID text   null,
    yearID   bigint null,
    stint    bigint null,
    teamID   text   null,
    lgID     text   null,
    W        bigint null,
    L        bigint null,
    G        bigint null,
    GS       bigint null,
    CG       bigint null,
    SHO      bigint null,
    SV       bigint null,
    IPouts   bigint null,
    H        bigint null,
    ER       bigint null,
    HR       bigint null,
    BB       bigint null,
    SO       bigint null,
    BAOpp    double null,
    ERA      double null,
    IBB      double null,
    WP       bigint null,
    HBP      double null,
    BK       bigint null,
    BFP      double null,
    GF       bigint null,
    R        bigint null,
    SH       double null,
    SF       double null,
    GIDP     double null
);
```


1. Convert `playerID`, `teamID`, and `lgID` to minimally sized `CHAR`
2. Convert `yearID` to `CHAR(4)`


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

## Teams

- The `Teams` table is defined as

```
create table Teams
(
    yearID         bigint null,
    lgID           text   null,
    teamID         text   null,
    franchID       text   null,
    divID          text   null,
    `Rank`         bigint null,
    G              bigint null,
    Ghome          double null,
    W              bigint null,
    L              bigint null,
    DivWin         text   null,
    WCWin          text   null,
    LgWin          text   null,
    WSWin          text   null,
    R              bigint null,
    AB             bigint null,
    H              bigint null,
    `2B`           bigint null,
    `3B`           bigint null,
    HR             bigint null,
    BB             double null,
    SO             double null,
    SB             double null,
    CS             double null,
    HBP            double null,
    SF             double null,
    RA             bigint null,
    ER             bigint null,
    ERA            double null,
    CG             bigint null,
    SHO            bigint null,
    SV             bigint null,
    IPouts         bigint null,
    HA             bigint null,
    HRA            bigint null,
    BBA            bigint null,
    SOA            bigint null,
    E              bigint null,
    DP             bigint null,
    FP             double null,
    name           text   null,
    park           text   null,
    attendance     double null,
    BPF            bigint null,
    PPF            bigint null,
    teamIDBR       text   null,
    teamIDlahman45 text   null,
    teamIDretro    text   null
);
```


1. Convert `yearID` to `CHAR(4)`
2. Convert `lgID`, `teamID`, `franchID`, and `divID` to minimally sized `CHAR`


- You should use `ALTER TABLE` to modify attributes (columns) and `UPDATE TABLE` to modify data (rows)

In [ ]:
%%sql

## Primary Keys

- You will now add primary keys to the tables
- The PKs for the tables are
    - People: `playerID`
    - Managers: `(playerID, yearID, inseason)`
    - Appearances: `(playerID, yearID, teamID)`
    - Batting: `(playerID, yearID, stint)`
    - Pitching: `(playerID, yearID, stint)`
    - Teams: `(teamID, yearID)`
    

- Write and execute statements showing why `(playerID, yearID, teamID)` is a valid PK for Appearances
    - You should show that the PK is non-null for all rows and unique across all rows

In [ ]:
%%sql

- Write and execute `ALTER TABLE` statements to add the primary keys to the tables

In [ ]:
%%sql

## Foreign Keys

- You will now add foreign keys to the tables
- **The conceptual ER diagram above should indicate to you which tables are related by foreign keys**
    - You need to figure out which table in a relationship has the foreign key


- Write and execute statements showing why `Appearances.playerID` is a valid FK referencing `People.playerID`
    - You should show that all the values in `Appearances.playerID` appear in `People.playerID`

In [ ]:
%%sql

- Write and execute `ALTER TABLE` statements to add foreign keys to the tables

In [ ]:
%%sql

<hr style="height:2px;">

# SQL Queries

## On-Base Percentage and Slugging

- The formula for `onBasePercentage` is

\begin{equation}
\frac{(H - 2B - 3B - HR) + 2 \times 2B + 3 \times 3B + 4 \times HR)}{AB}
\end{equation}

- `2B`, `3B`, `HR`, and `AB` are their own columns, not multiplication


- Write a query that returns a table of form

```
(playerID, nameFirst, nameLast, yearID, stint, H, AB, G, onBasePercentage)
```


- Your table should be sorted on `onBasePercentage` from highest to lowest, then on last name alphabetically (if there are any ties in `onBasePercentage`)
- **To avoid freezing your notebook, add a `LIMIT 10` to the end of your query to display only the first 10 rows**
- You may use the `Batting` and `People` tables

In [ ]:
%%sql

## Players and Managers

- A person in `People` was a player if their `playerID` appears in `Appearances`
- A person in `People` was a manager if their `playerID` appears in `Managers`
- A person could have been both a player and manager


- Write a query that returns a table of form

```
(playerID, nameFirst, nameLast, careerPlayerGames, careerManagerGames)
```

- `careerPlayerGames` is the sum of `Appearances.G_all` for a single player
    - It should be 0 if the person was never a player

- `careerManagerGames` is the sum of `Managers.G` for a single manager
    - It should be 0 if the person was never a manager


- Your table should be sorted on `careerPlayerGames + careerManagerGames` from highest to lowest
- **To avoid freezing your notebook, add a `LIMIT 10` to the end of your query to display only the first 10 rows**
- You may use the `People`, `Appearances`, and `Managers` tables.

In [ ]:
%%sql

- Copy and paste your query from above. Modify it to only show people who were never managers.
    - This should be a one-line change

In [ ]:
%%sql