<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2: Common
</span>
</center></i>

# Introduction

This notebook contains HW2 Common. **Students on both tracks should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

- You will submit **a PDF** for this assignment
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. **Switch the orientation to landscape mode**, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.

<hr style="height:2px;">

# Written Questions

## W1

Explain Codd’s 3rd Rule.
- What are some interpretations of a NULL value?
- An alternative to using NULL is some other value for indicating missing data, e.g., using -1 for the value of a weight column. Explain the benefits of NULL relative to other approaches.

_Your answer here_

## W2

Briefly explain the following concepts:
1. Primary key
2. Candidate key
3. Super key
4. Alternate key
5. Composite key
6. Unique key
7. Foreign key

_Your answer here_

## W3

<img src="./written-diagram.png">

Consider the logical data model above. The one-to-one relationship is modeled using two foreign keys, one in each table.
- Why does this make it difficult to insert data into the tables? 
- What is a (simple) fix for this, i.e., how would you model a one-to-one relationship?

_Your answer here_

## W4

The relational model places restrictions on attributes. Many data scenarios have more complex types of attributes. Briefly explain the following types of attributes:
1. Simple attribute
2. Composite attribute
3. Derived attribute
4. Single-value attribute
5. Multi-value attribute

_Your answer here_

## W5

The slides associated with the recommended textbook list six basic relational operators:
1. select: σ
2. project: π
3. union: ∪
4. set difference: -
5. Cartesian product: ⨯
6. rename: ρ


The list does not include join: ⨝. This is because it is possible to derive join using more basic operators. Explain how to derive join from the basic operators.

_Your answer here_

## W6

Explain how using a natural join may produce an incorrect/unexpected answer.

_Your answer here_

## W7

The UNION and JOIN operations both combine two tables. Describe their differences.

_Your answer here_

## W8

Briefly explain the importance of integrity constraints. Why do non-atomic attributes cause problems/difficulties for integrity constraints?

_Your answer here_

## W9

What is the primary reason for creating indexes? What are the negative effects of creating unnecessary indexes?

_Your answer here_

## W10

Consider the table `time_slot` from the sample database associated with the recommended textbook.
- The data type for the column `day` is `char(1)`. Given the data types MySQL supports, what is a better data type for `day`?
- What is a scenario that would motivate creating an index on `day`?

_Your answer here_

<hr style="height:2px;">

# Relational Algebra

## R1

- Write a relational algebra statement that produces a relation showing **courses that do not have a prereq**
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `course_id`
    - `title`
    - `dept_name`
    - `credits`
- You may not use the anti-join: ▷ operator
- You should use the `course` and `prereq` tables

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R1 Execution Result__|

## R2

- Write a relational algebra query that produces a relation showing **students who have taken sections taught by their advisors**
    - A section is identified by `(course_id, sec_id, semester, year)`
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `student_name`
    - `instructor_name`
    - `course_id`
    - `sec_id`
    - `semester`
    - `year`
    - `grade`
- You should use the `takes`, `teaches`, `advisor`, `student`, and `instructor` tables


- As an example, one row you should get is

| student_name | instructor_name | course_id | sec_id | semester | year | grade |
|--------------|-----------------|-----------|--------|----------|------|-------|
| 'Shankar'    | 'Srinivasan'    | 'CS-101'  | 1      | 'Fall'   | 2009 | 'C'   |

- Shankar took CS-101, section 1 in Fall of 2009, which was taught by Srinivasan. Additionally, Srinivasan advises Shankar

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R2 Execution Result__|

## R3

- Write a relational algebra query that produces a relation showing **sections that occur on Friday and start after 10 AM**
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `course_title`
    - `sec_id`
    - `semester`
    - `year`
    - `day`
    - `start_hr`
- You should use the `course`, `section`, and `time_slot` tables

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R3 Execution Result__|